html {
/*background-color: lightgrey;*/
}

/*NAVBOTTOM*/

navbottom {
  
}

/*
    nav {
        background-color: grey;
        margin: 0px;
        padding-left: 30px;
        
    }

.nav a {
  background-color: lightgreen;
    float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
    font: nunito;
    font-size: 1em;
    margin-bottom: 1em;
    display: inline-block;
}

.nav a:hover {
  background-color: seagreen;
  color: black;
}

    nav ul {
        margin:0;
        background-color:seagreen;
        padding-left: 12px;
    }
    nav ul li {
        display: inline-block;
        list-style-type: none;
        width: 120px;
        background-color: seagreen;
    }
    nav ul li a {
        display: block;
        color: azure;
        text-decoration: none;
        text-align: center;
        padding: 7px 16px 7px 16px;
    }
    nav ul li a:hover {
        background-color: darkseagreen;
        color: white;
    }
nav p {
    background-color:bisque;
    display:block;
    color:white;
    padding:3px;
}
p#previous{
    float:left;
}
p#next{
    float:right;
}
 */

/* LINKS*/

a:link {
  background-color: transparent;
  text-decoration: underline;
}

a:visited {
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  background-color: transparent;
  text-decoration: none;
}

a:active {
  background-color: transparent;
  text-decoration: none;
}

/*
This bolds links in divs. The main intent is to bold the links in chapter end summaries.
*/

div a {
font-weight: 700;
}



/**/


   div.header {
background-color: #AFE1AF;
       color: #16432a;
        font-size: 2.5rem;
        font-weight:bold;
       border-left: .5rem #16432a solid;
       border-top:.5rem #16432a solid;
       
      /* border-bottom: .1rem solid #16432a;
       border-right: .1rem solid #16432a; */
        padding: .3em 0em .2em .7em;
       display: block
/*       margin-top: 1.5rem;*/
}

   p.overtitle {
       color: #16432a;
        font-size:2.6rem;
        font-weight:bold;
        padding: 0em 0em 0em 0em;
       display: block;
       margin-left: 1rem;
       margin-bottom: 1rem;
       margin-top: 0rem;
       font-family: "nunito";
/*       margin-top: 1.5rem;*/
}

   p.subtitle {
       color: #16432a;
        font-size:1.5rem;
        font-weight:bold;
        padding: 0em 0em 0em 0em;
       display: block;
       margin-top: 1rem;
       margin-bottom: 0rem;
       margin-left: 1rem;
       font-family: "nunito";
/*       margin-top: 1.5rem;*/
}

}

   overtitle {
       color: #16432a;
        font-size:2.6rem;
        font-weight:bold;
        padding: 0em 0em 0em 0em;
       display: block;
       margin-left: 1rem;
       margin-bottom: 1rem;
       margin-top: 0rem;
       font-family: "nunito";
/*       margin-top: 1.5rem;*/
}

   subtitle {
       color: #16432a;
        font-size:1.5rem;
        font-weight:bold;
        padding: 0em 0em 0em 0em;
       display: block;
       margin-top: 1rem;
       margin-bottom: 0rem;
       margin-left: 0rem;
       font-family: "nunito";
/*       margin-top: 1.5rem;*/
}




/*MAIN TEXT STUFF*/
   

    body {
/*        margin: 0% 10% 0% 0%;*/
        padding: 0% 10% 10% 10%;
        font-family: "Nunito", sans-serif, "Tahoma", "Calibri";
        font-size: 1rem;
        max-width: 40rem;
/*        max-width: 40rem;*/
        background-color: white;
        margin:auto;
        
        
            
    }


div {
    
    -webkit-print-color-adjust: exact; 
    color-adjust: exact;              
    print-color-adjust: exact;
}

    main {
    }
    article {
        margin-left:1rem;
        margin-right:1rem;
        margin-bottom:1rem;
        padding:1rem;
        background-color:darkslategray;
        color:antiquewhite;
}
/*PARAGRAPHS & LISTS*/
    p {
        font-size: large;
        margin-bottom: .6rem; 
        text-align: left;
        
    }

    p,li {
        color: rgb(71,72,75); 
        }
    li {
        margin-bottom: 1rem;
}



p.indentsmalltext {
    font-size: 1rem;
    text-indent: 5%;
}

div.consider {
    margin-right: 6%;
    margin-left: 2%;
    margin-top: 1rem;
    background-color:#F3F7FB;
    border-left: .1rem solid #729ECA;
/*border-bottom: .1rem solid #AFC8E1;*/
    padding-top: 1.3rem;
    padding-right: 1.2rem;
    padding-bottom: .6rem;
    padding-left; 1.5%;
    break-inside: avoid;
}


    p.consider{
    font-weight: 700;
    font-size: medium;
    color: #254463;
    padding-bottom:0px;
    padding-left: 0rem;
    }

    p.considertext{
    font-size: medium;
    margin-left: 2rem;
    margin-right: 3rem;
    }

ul.consider-list {
font-size: medium;
    margin-left: 1.5rem;
    margin-right: 3rem;
}

div.for-instance{
    margin-right: 6%;
    margin-left: 2%;
    margin-top: 1rem;
    background-color:#F3F7FB;
    border-left: .1rem solid #729ECA;
/*border-bottom: .1rem solid #AFC8E1;*/
    padding-top: 1.3rem;
    padding-right: 1.2rem;
    padding-bottom: .6rem;
    padding-left; 1.5%;
    break-inside: avoid;
}



caption{
    text-align: left;
    font-size: large;
        margin-bottom: .6rem; 
        color: rgb(71,72,75);
    font-weight: 700;
    
}



div.h4{
    margin-left: 1rem;
}


  p.for-instance{
    font-weight: 700;
    font-size: medium;
    color: #254463;
    margin-left: 0rem;
    margin-bottom:0px;
    padding-bottom:0px;
      padding-left: .4rem;
    }
    p.for-instance-text{
    font-size: medium;
    margin-left: 1.5rem;
    margin-right: 3rem;
    }


div.listbox {
        padding: 10px;
    margin-right: 2rem;
    margin-left: 2rem;
        background-color:#E8E8E8;
        color:black;
}

    div.listbox p {
        margin-left: 2rem;
        padding: 10px;
        background-color:whitesmoke;
        color: #303030;
        margin: .5rem;

}

    p.listbox-headline {
        margin-bottom: 0rem; 
        padding-bottom: 0rem;
        font-weight: 700
        }

    ul li.indepth {
        margin-bottom: .5rem;
}

    ul.close-list li {
     margin-bottom: .5rem;       
}

    ol.close-list li {
     margin-bottom: .5rem;       
}

    p.indepth {
        margin-top: 1rem;
        font-size: medium;
        margin-left:.5rem;
        margin-right:3rem;
}

    p.lesson {
        font-weight: 700;
        font-size: 1.2rem;
        color: #2E5B89;
        margin-left:3rem;
        margin-right:3rem;
}

div.deeper-look p.lesson { 
    margin-left: 3rem;
}

    p.listboxheadline {
        font-weight: 700;
        color: darkred;
        margin-left:3rem;
        margin-right:3rem;
}

/*HEADINGS*/
    .content-area {
        display: flex;
        flex-direction: row;
        padding-bottom: 50px;
    }
    h3,h4 {
        color: #2E7E29;
         }

h3.beginning {
border-top: none; 
color: #16432a; 
font-size: 1.7rem; 
margin-bottom: 0rem;
}

h1 {
      padding-top: 0rem;
        margin-top:0rem;
    margin-left: 0rem;
    font-size: 1rem;
    color: #16432a;
    text-align: center;
    }



  
h2 {
    
       padding-top: 0rem;
        margin-top:0rem;
    margin-left: 0rem;
    font-size: 2rem;
    color: #16432a;

    }

h3 {
    
        font-size: 2rem;    
    margin-top: 0rem;
    margin-bottom: 1.3rem;
         margin-left: 0rem;
    border-top: 2rem solid #AFE1AF;
        padding-top: 1rem;
  
    }

h4 {
        font-size: 1.5rem;    
    margin-top: 1rem;
    margin-bottom: 1.3rem;
         margin-left: 0rem;
            padding-top: 1rem;
    }

aside.box h4 {

    font-size: 1.3rem;
    margin: 0rem;
    margin-left: -.5rem;
    margin-bottom: .3rem;
    border: none;
    color: darkslategray;
    padding: 0rem
}

h5 { 
    
        font-size: 1.8rem;    
    margin-top: 1.5rem;
    margin-bottom: 1.3rem;
         margin-left: 0rem;

}



/* pseudo-HEADER FOR FAQ */
    p.faq-question {
        font-size: 1.2rem;
        margin-bottom: 0rem;
        color: #36454F;
        font-weight: 700;
}

    h2+p,h4+p {
        margin: 0px;
    }
    ul, ol {
        margin-top: 1.2rem;
        font-size: 'large';
    padding-left: 5%;
        padding-right: 10%;
    }

/*TEXT STYLES*/
/*italic in original*/
/*
TERM = introduces anchor idea, which is always followed by the expressive idea marked as em.
EM = (originally stood for emphasis) em marks the expressive idea from the anchor idea. (At first we may think term, but it's actually more like em.) Doesn't always follow this styling, unfortunately. 
SEM = (originally stood fo Single EMphasis) used to strongly highlight a key idea. 
SEM-WEAK (originally stood for Single EMphasis-weak) This is like sem, only much less emphasis. 
OUTCOME CONTRAST ()

emotions = He feels ANGER

example
callback = We shouldn't be rude. ("WHEN MY SHIT TURNS BLUE")*/


    figure {
    
margin-left: .0rem;
        margin-top: 1.5rem;
        break-inside: avoid;
       
/*    color: green ;*/
    }


figure.vignette {

    border-top: .1rem solid gray;
/*    border-bottom: .1rem solid gray;*/

}

figure.end-art {
margin-top: 1rem;
     padding: 1rem;
    border-top: black solid .2rem;
        border-bottom: black solid .2rem;
    
    display: block;
    margin: auto;
    
}

figure.end-art figurecaption p {

    font-size: medium;
    text-align: center;
    
}


img.end-art {

display: block; 
    margin: auto;
    max-width: 95%;

   

}


    figurecaption {
    

    font-weight: 700;
        font-size: 1.3rem;
        color: #363636;

        
/*    color: #2E7E29;
        color: green ;*/
    }

div.deeper-look figurecaption {
margin-left: .6rem;


}




    term{
    font-style:italic;
    font-weight: 700;
        color: #2E892E;
/*    color: green ;*/
    }

    em {
       
         font-style:italic;
        color: ;
        font-weight: 700;
    }

    term2 {
    
        font-style:italic;
        color: #B33075  ;
        font-weight: 700;

     
    }

    sem-weak {
        font-style:italic;
        
    }

    emotions{
    font-style:italic;
    font-weight: 600;
    font-variant: small-caps;
}

emotions-in-notes {
    font-style:italic;
    font-weight: 800;
    font-variant: small-caps;
}

outcome-contrast {
    text-decoration: underline;
    
}

vocab{
    font-style: ;
    font-weight: 700;
    color: #892E89;
    }


humor-outcome{
    font-weight:600;
    font-style: italic

}

humor-tell{
    color: #5c78cd;
    font-weight: 600;
    font-style: italic;
}

emotion-tell{
    color: #8C472E;
    font-weight: 600;
    font-style: italic;
}

p.and-so-on{
    margin-left: 3rem;
    font-size: 1rem;
    font-style: italic
}

div.chapter-summary p.and-so-on{
    margin-left: 3rem;
    font-size: 1rem;
    font-style: italic
}



callback{
    font-style:italic;
    font-weight: 500;
/*    color: #434e7a;*/
    color: #2E5B89;    
}
/*underlined in original*/
    strong {   
}
headline/*e.g. first word of boxes*/ {
    font-weight:1000;
}
/*TEXT STYLES FOR VIGNETTES*/
/* 
<div class="vignette">
<h3>if vignette has a header
Narration
speaker: *action* (internalaction) "Speech" (&larr;notes)    
<p class="vig-indent">-
<P class="vig-indent"> Contrast example
<p class="vig-or"> - OR -
<P class="vig-indent"> Contrast example

<h3>This is an example of the above format</h3>
Justin sees book editors.
Justin: *waves* (happily) "Hey everyone!" (&larr;humor) 
    -
    Book editors: "Hey!"
        - OR -
    Book editors: "Ugh."

Note that "vig-or" is also used for - Later - as well as -OR -
*/

hr { 

border: none;    
}

div.vignette {
    font-size: .9rem;
    margin-left: 2%;
    margin-top: 1.5rem;
    margin-right: 6%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 0rem;
    padding-right: 0rem;
    background-color:#FBF7F3;
    border-left: .1rem solid #CA9E72;
    break-inside: avoid;
    border-bottom: .01rem dotted #CA9E72
/*    border-bottom: .1rem solid #f2e5da;*/
    }

div.vignette p {
font-size: medium;
    padding-left: 3%;
}

div.deeper-look div.vignette {
 margin-left: 3rem;   
}

div.deeper-look div.vignette p {

    margin-left: .6rem;
    
}

div.deeper-look li {

    margin-left: 1rem;
}

div.vignette p {
   margin-top: 1.2rem;
    }

.vignette humor-outcome, emotions { 
    font-weight: 700;
}

book-title {
    
    font-style: italic;
}



div.vignette book-title {
    font-style: normal;
    
}


div.chapter-summary {
    
    
    margin-left: 2%; 
    margin-right: 2%;
    background-color: #f9ebea;
    /*   border-right: .1rem solid #E1E1FF;*/
    border-bottom: 1.5rem solid #d98880;
    border-top: 1.5rem solid #d98880;
}



div.chapter-summary p.text-example {

    font-size: medium;
    margin-left: 2rem;
    margin-right: 2%;
}


div.chapter-summary h5 {
    
    color: darkslategray;
    text-align: center;
}

div.chapter-summary ul {
 
    margin-left: 1rem;
    margin-right: 2rem;
}



div.vignette book-title {
    font-style: normal;
    
}

div.deeper-look {
    
    margin-left: 2%; 
    margin-right: 2%;
    background-color: ghostwhite;
    /*   border-right: .1rem solid #E1E1FF;*/
    border-bottom: 1.5rem solid #E1E1FF;
    border-top: 1.5rem solid #E1E1FF;
}

div.deeper-look p, div.chapter-summary p {
    font-size: medium;
    margin-left: 1.6rem;
    margin-right: 1.6rem;
    
}

div.frontspiece figurecaption {

    font-size: 1rem;
        margin-left: 1.6rem;
    margin-right: 1.6rem;
    text-indent: 0rem;
    display: block;
    margin-top: 1rem
}


div.deeper-look div.poem p {

    font-size: medium;
    margin-left: 2rem;
    margin-right: 2%;
    padding-left: .5rem;
    text-indent: .5rem hanging;
    margin-top: 0rem;
    margin-bottom: 0rem;
}


div.deeper-look div.text-example p {

    font-size: medium;
    margin-left: 2rem;
    margin-right: 2%;
}

div.deeper-look p.text-example {

    font-size: medium;
    margin-left: 2.5rem;
    
}

div.deeper-look div.consider, div.deeper-look div.for-instance {
    
    margin-left: 3rem;
    padding-right: 1.2rem;
}

div.consider ul {
    
    margin-left: 1.5rem;
}

div.consider p.and-so-on {
    margin-left: 2rem;

}

div.deeper-look ul {
    
    margin-left: 1rem;
}

div.deeper-look p.and-so-on {
    
    margin-left: 4rem;
}

div.deeper-look div.vignette p {
    
    font-size: large;
}


div.deeper-look h4 {
    
    color: darkslategray;
    text-align: center;
}

      

div.deeper-look h5 {
      color: darkslategray;
    text-align: center;
    font-size: 1.3rem;
    text-align: left;
    margin-left: 1.1rem;
}

div.deeper-look figure div.vignette {
    margin-left: 1.5rem;    
}

deeper-title {    
}


deeper-look {    
 text-align: center;
    font-size: large;
display: block;
 
}

  
notes /*like humor/no humor and mistake/OK*/ {
    font-weight:700;
    font-style:normal;
    color: darkslategrey;
}

narration{
    color:#404040;
    font-style: italic;
}

action{
    font-style:italic;
}
internalaction{
    font-style:italic;
    color: #404040;
}
speaker{
    font-variant: small-caps;
    font-weight: 600;
    
}
speech{
    font-weight: 400;
    color: ;
}
p.vig-indent /*for indented paragraphs*/ {
    margin-left: 3%;
    
    
}
p.vig-or /*for -OR-*/ {
    margin-left: 6%;
    font-style:italic
}

p.vig-or-indent /*for -OR-*/ {
    margin-left: 6%;
    font-style:italic;
}

p.indentedemphasis {
    margin-left:10%;
    font-style:italic
}
p.bookquote {
    margin-left:6%;
    font-style: ;
    font-size: 1.2rem;
   background: ;
    color:black;
    font-family:  serif;
    font-weight: 500;
}

p.or /*for -OR-*/ {
    font-style:italic;
        margin-left: 5%;
}

div.main-title {
    
    background-color: #AFE1AF;
    border: #16432a .2rem solid;
}

p.main-title {
    margin-top: 1.3rem;
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    color: #16432a; 
}


p.main-subtitle {

font-style: ;
    margin-top: 0rem;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    color: #16432a 
}

p.chapter-subtitle {

    text-align: center;
    font-size: 1.8rem;
    font-weight: 700;
    color: #16432a
    
    }
    
.photo {

    border: .125rem, black, solid;
    margin-left: 1rem;
    margin-top: 1rem;

}

/*chapter ending*/

div.chapter-end {
margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    background-color: #16432a;
    padding-top: 1rem;
    padding-bottom: 1.8rem;
    text-align: center;
    border-right: .8rem solid #AFE1AF;
    border-bottom: .8rem solid #AFE1AF;
        
/*    border-top: solid black .2rem;*/
    
}


div.chapter-end p{
    font-size: 1.66rem;
    font-weight: 700;
    color: #AFE1AF;
    padding-left: 2rem;
    padding-right: 2rem;
    text-align: center;
    
}

p.nextchapter{
    font-size: 1.4rem;
    font-weight: 700;
    color: green;
}

div.endofchaptersummary{
}

div.appendixlink{
}

div.testimonial {
    margin-left: 4rem;
    background-color: #FBFAF7;
     border-right: solid .1rem #CDC19B; 
    border-bottom: solid .1rem #CDC19B; 
    padding: 1rem 1rem 1rem 1rem;
}

div.testimonial p.vig-indent {
    border-left: .1rem #CDC19B solid;
    padding-left: .7rem;
    margin-left: .7rem;
    
    
}

div.endofchaptersummary{
}

/* HORIZONTAL LINES */

p.line {
  border-bottom: .3rem solid #7BD3A7;
}


div.chapter-heading {
font-size: 2.9rem;    
    

    
}



iframe + .vignette {
    
    margin-top: 0rem;
    
}

button {
 font-family: "nunito", sans-serif;   
}

button.table-of-contents {

    border:none;
    background-color: #AFE1AF; 
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inherit;
    margin-top: 1rem;
    margin-right: 1rem;
    margin-bottom: 0rem;
  font-size: 1.4rem;
    font-weight: 700;
      transition-duration: 0.2s;

}

button.table-of-contents:hover {
  background-color: seagreen;
  color: white;
}


div.previous-next { 
    margin-bottom: 2rem;
    margin-right: 1rem;
} 


/* BUTTON Previous */

.buttonprevious {
  border:none;
    background-color: #AFE1AF; 
  color: #16432a;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.4rem;
    font-weight: 700;
      transition-duration: 0.2s;
    margin-top: 1.5rem;
    margin-left: 1rem;
    float: left;
    margin-bottom: 2.5rem;
}

/*
 On screens that are 600px wide or less, make the buttons smaller*/
@media screen and (max-width: 600px) {
  .buttonprevious {
     border:none;
    background-color: #AFE1AF; 
  color: #16432a;
  padding: 7px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
    font-weight: 700;
      transition-duration: 0.2s;
    margin-top: 1.5rem;
    margin-left: .5rem;
    float: left;
    margin-bottom: 2.5rem;
  }
}

.buttonprevious:hover {
  background-color: #ECFFDC;
  color: darkslategrey;
}


/* BUTTON NEXT */

/*
background-color: #AFE1AF;
       color: #16432a;
*/

.buttonnext {
    border:none;
    background-color: #AFE1AF; 
  color: #16432a;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.4rem;
    font-weight: 700;
      transition-duration: 0.2s;
    margin-top: 1.5rem;
    margin-right: .5rem;
    float: right;
    margin-bottom: 2.5rem;
}

/*
 On screens that are 600px wide or less, make the buttons smaller*/
@media screen and (max-width: 600px) {
  .buttonnext {
     border:none;
    background-color: #AFE1AF; 
  color: #16432a;
  padding: 7px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
    font-weight: 700;
      transition-duration: 0.2s;
    margin-top: 1.5rem;
    margin-left: .5rem;
    float: right;
    margin-bottom: 2.5rem;
  }
}


.buttonnext:hover {
  background-color: #04AA6D;
  color: white;
}


/* EXAMPLE BUTTON*/

.collapsible-example {
  background-color: ;
  color: #444;
  cursor: pointer;
  padding: 1rem;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 1.1rem;
    font-weight: 1000;
    margin-top: 0rem;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active-example, .collapsible-example:hover {
  background-color: dimgray;
    color: antiquewhite
}

/* Style the collapsible content. Note: hidden by default */
.content-example {
  padding-right: 2rem;
padding-left: 1.5rem;
  display: none;
  overflow: hidden;
  background-color: ghostwhite;
    border-right: .1rem solid #E1E1FF;
    border-bottom: .1rem solid #E1E1FF;
    
/*    border-bottom: dimgray solid .2rem*/
} 

.content-example p {
} 

.collapsible-example:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: .8rem;
  color: white;
  float: right;
  margin-left: 1rem;
}

.active-example:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}



/*BOX BUTTON*/

 /* Style the button that is used to open and close the collapsible content */
.collapsibleBOX {
  background-color: #F1CEE3;
  color: #444;
  cursor: pointer;
  padding: 1rem;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 1.1rem;
    font-weight: 1000;
    margin-top: 1rem;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.activeBOX, .collapsibleBOX:hover {
  background-color: #e5a5cb;
}

/* Style the collapsible content. Note: hidden by default */
.contentBOX {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #FDF8FB;
} 

.contentBOX p {
} 

.collapsibleBOX:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: .8rem;
  color: white;
  float: right;
  margin-left: 1rem;
}

.activeBOX:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}


/*APPENDIX BUTTONS*/
 /* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #d98880;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-weight:1000;
  font-size: 1.1rem;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color:    #cd6155;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color:   #f9ebea  ;
} 


.collapsible:after {
   content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: .8rem;
  color: white;
  float: right;
  margin-left: 1rem;
}

.active:after {
  content: "\2212";
}



/*PORTFOLIO*/
    div.project {
        clear:both;
        margin-left: 12px;
    }
    div.project img {
        float: left;
        margin-right: 12px;
        margin-bottom: 20px;
        width: 150px;
    }
/*IMAGES*/
    #banner {
        width: 100%;
        margin: 0px;
        display: block;
    }
    #portrait {
        width: 300px;
        float: right;
        margin: 20px;
    }

div.deeper-look img, div.consider img, aside.box img, aside.consider img {
 
    background-color: transparent;
}

div.deeper-look div.vignette p { 

    font-size: medium;
    margin-right: 0rem;
    
}

img {
 margin-top: 1rem;
    max-width: 25rem;
  width: 98%;
    height: auto;
    background-color: white;
}

div.deeper-look img {
margin-left: 3rem;
}



img.center-if-screen-is-small {
 
    float: right; 
    margin-left: 1rem;
    margin-top: 1rem; 
    margin-bottom: 1rem; 
    border: solid .1rem
    
}

@media screen and (max-width: 600px) {
  img.center-if-screen-is-small {

      float:none;
      display:block;
      margin-left:auto;
      margin-right:auto;
      
  }
}

/*
img.responsive {
  object-fit: scale-down;
}
*/

/*
img.imgsmall {
    max-width: 20em;
}

img.imgverysmall {
    max-width: 15em;
}
*/

img.img-indent /*for images accompanying indented paragraphs*/ {
    margin-left: 6%;
}

/*WARNING used in Table of Contents*/

div.about-box {
    
    background-color: #FDF8FB; 
    padding: 1rem; 
    margin: 1rem 6% 0rem 2rem; 
    border-right: solid .1rem #EFC6DE; 
    border-bottom: solid .1rem #EFC6DE; 
    font-weight: 500; 
    color: #6E204E;
        
}


div.warning {
    margin: 2rem;
    background-color: #FFF8F3;
    border-right: solid .1rem #FFD0AF; 
    border-bottom: solid .1rem #FFD0AF; 
    padding: 1rem; 2rem; 1rem; 2rem;
}

div.list-in-text {
    margin: 1rem;
    background-color: #FBFAF7;
    border-right: solid .1rem #CDC19B; 
    border-bottom: solid .1rem #CDC19B; 
    padding: 1rem 1rem 1rem 1rem
}

div.list-in-text figurecaption {

    font-size: 1rem;
}

/*
div.box {
    margin: 1.5rem 1rem 1rem 2.5rem;
    background-color: #FBF3FB;

    border-top: solid .1rem #e5a5cb; 
    border-left: solid .1rem #e5a5cb; 

    border-right: solid .1rem #CA72CA; 
    border-bottom: solid .1rem #CA72CA; 
    padding: 1rem 1.5rem 1rem 2rem
}
*/

aside.box {
    margin-left: 2%;
    margin-right: 6%;
    margin-top: 3%;
    padding: 2%;
    padding-top:1%;
        padding-bottom:1%;
    background-color: #FBF3FB;
    
/*
    border-top: solid .1rem #e5a5cb; 
    border-left: solid .1rem #e5a5cb; 
*/
    border-right: solid .1rem #CA72CA; 
    border-bottom: solid .1rem #CA72CA; 

}

aside.box p {

    font-size: medium;
    margin-right: 2%;
    margin-left: 2%;
}


consider {
    font-weight: 700;
    font-size: medium;
    color: #254463;
    padding-bottom:0px;
    padding-left: 2.5%;
    }


aside.consider p{
    font-size: medium;
    margin-left: 2%;
    margin-right: 2%;
    padding-left: 2%;
    }

aside.blockquote {

   margin: 1rem;
    background-color: #FBFAF7;
    border-right: solid .1rem #CDC19B; 
    border-bottom: solid .1rem #CDC19B; 
    padding: 1rem .5rem 0rem .5rem;
        
}

.box p {
    color:	;   
}


q {

}

div.forward p { 
font-size: medium;
}

div.epigraph {
    padding: 0% 5% 2% 0%;

}

p.epigraph { 
font-size: medium;
}

div.blockquote {
       margin: 1rem;
    background-color: #FBFAF7;
    border-right: solid .1rem #CDC19B; 
    border-bottom: solid .1rem #CDC19B; 
    padding: 1rem .5rem 0rem .5rem;
    
}

blockquote {
 
    margin-left: 2%;
    
}

blockquote.testimonial {
margin-left: 5%;
margin-right: 5%;
    margin-top: 0rem;
    margin-bottom: 1.3rem;
    padding-left: 3%;
    border-left: solid grey .1rem 
}

blockquote.testimonial p {
    font-size: 1rem;
    
}

blockquote.epigraph {
border-left: none;
}

p.epigraph {
    
    margin-left: 0rem;
}

p.blockquote { 

    font-size: medium;
    font-weight: 700;
    margin-bottom: 0rem;
    margin-left: 4%;
 
}

p.epigraph-attribution { 

     font-size: medium;
    font-weight: 500;
    margin-bottom: 0rem;
    margin-left: 4%;
}


div.title-page p { 

    font-size: medium;
    
}


blockquote p {
    

}

div.frontspiece {

    margin-left: 0.5rem;

}

div.frontspiece figure { 

    border-top: .1rem solid slategray;
    
}

p.headline {

    font-weight:700;   
}

.warning p {
 
    font-size: 1.2rem;
    background-color: #FFF5EE;
}

/*TABLE*/
    table {
        border: 0px;
        table-layout:fixed;
        border-spacing:0;
        border-collapse: collapse;
        border-style:solid;
        border: .1rem solid gray;
        padding:0;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
}

    td {
    
}
    th {
        background-color: aliceblue;
        font-weight: 700;
}
    tr {
        text-align:center;
    }
/*FOOTER*/

footer {
           margin-top: 6rem;
        border-top: solid gray .2rem;
        padding-left: 1rem;
        padding-right: 1rem;
        height: 50px;
        clear: both;
    color: gray;
    }

footer.tableofcontents {
    
    padding-top: 1em;
}

    footer a {
       
        height: 50px;
        clear: both;
    }
    #copyright {
        float: left;
    }
    #email {
        float: right;
    }
/*PAGE*/
    @media (min-width: 768px) {
        nav ul {
            padding-left: 12px;
        }
        nav ul li {
            float: left;
            width: 120px;
        }
        .left-column {
            flex: 0 0 100px;
        }
        .right-column {
            flex: 1;
        }
        .center-column {
        flex: 0 0 600px;
        }
        }
    @media (max-width: 767px) {
        nav ul {
            padding-left: 0px;
        }
        nav ul li {
            float: none;
            width: 100%;
            border-bottom: 1px solid white;
        }
        .left-column, .right-column {
            flex: 0 0 10px;
        }
        .center-column {
            flex: auto;
        }
    }


/*NAVTOP*/

div.topnav {
/*    margin-top: 6%;*/
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #16432a;
   /* border-right: #AFE1AF solid .5rem; */
/*        border-top: #AFE1AF solid .5rem;*/
  overflow: hidden;
  margin-bottom: 1.5rem;
    padding: 0rem;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: auto;
    font-size: 1.1rem;
    
}




/* Style the links inside the navigation bar */
.topnav a {
  float:left;
font-weight: 500;
  color: #AFE1AF;
    padding: 1rem;
  
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #C8E1AF;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

/* On screens that are 600px wide or less, make the menu links stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .topnav {
    float: none;
    width: 100%;
    flex-wrap: wrap;
    font-size: .8rem;
  }
}

@media screen and (max-width: 600px) {
  .topnav a {
    padding: .5rem;
  }
}
